:host {
    display: block;
    background-color: var(--ion-color-tertiary); // Define a cor de fundo da tela
}

table {
    width: 100%;
    border-collapse: collapse; // Para garantir que as bordas da tabela se juntem
}

th, td {
    padding: 12px; // Adiciona espaço interno nas células
    text-align: left; // Alinha o texto à esquerda
    border-bottom: 1px solid #ddd; // Adiciona uma borda inferior nas células
}

.edit {
    margin-right: 10px;
}

.edit {
    color: #6b94ca;
    cursor: pointer; // Muda o cursor para indicar que é clicável
}

.delete {
    color: #e35e6b;
    cursor: pointer; // Muda o cursor para indicar que é clicável
}

ion-button {
    ion-icon {
        font-size: 20px; // Ajuste o tamanho do ícone
    }
}

@media (max-width: 768px) { // Estilos para telas menores
    table {
        font-size: 14px; // Reduz o tamanho da fonte para telas menores
    }
    
    th, td {
        padding: 8px; // Reduz o padding para telas menores
    }
}

